    * { margin: 0; padding: 0; box-sizing: border-box; }
    body { 
      font-family: sans-serif;
      background-color: #edf0d4; 
    }
    
    h1 {
      text-align: center;
      margin: 20px 0;
      font-size: 24px;
    }
    .controls {
      display: flex;
      justify-content: end;
      gap: 10px;
      padding: 15px;
      z-index: 1000;
      position: fixed;
      width: 100%;
      background-color: transparent;
    }

    .btn {
      padding: 10px;
      border: 2px solid rgba(0,0,0,0.2);
      background: #fff;
      border-radius: 7px;
      cursor: pointer;
      font-size: 16px;
      transition: all 0.2s;
      outline: none;
    }

    .btn:hover {
      background-color: #f4f4f4;
    }

    .btn.active {
      background-color: #202938;
      border-color: #202938;
      box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
      color: #fff;
    }

    .icon-circle {
      display: inline-block;
      width: 14px;
      height: 14px;
      background: #e63946;
      border: 2px solid #fff;
      border-radius: 50%;
    }

    .icon-red {
      background: #e63946;
    }

    .icon-blue {
      background: #457b9d;
    }

    #map {
      height: calc(100vh - 68px);
    }